
  <header>
    <span class="logo">Cr<span class="skyblue">i</span>lma</span>

    <span class="ul">
      <a routerLink="/practice-page">Practice Page</a>
      <a href="#homeblock4">Contact</a>
      <a href="#homeblock3">Buy Plan</a>
      <a href="#homeblock2">About</a>
      <a href="/">Home</a>
    </span>

    <span class="register">
      <a routerLink="/signup" id="signup">Sign Up!</a>
      <a routerLink="/login" id="login">Login</a>
    </span>

  </header>
  <main>
    <!-- homeblock 1 -->
    <section id="homeblock1">
      <div class="homeblock" id="block1">
        <h1>Crilma</h1>
        <div class="quote">
          <em>Welcome to Crilma ​CRM: Where <b>"Customer Relationships Matter"</b></em>
        </div>
      </div>
    </section>
    <!-- homeblock 2 -->
    <section id="homeblock2">
      <div class="homeblock" id="block2">
        <div class="h2-heading">
          <h2>Here's how Crilma makes selling easier</h2>
        </div>
        <div class="table">
          <!-- <div class="col"></div> -->
          <div class="col-4">
            <div class="row">
              <p>Improve customer interactions and drive contextual sales with a 360°
                view <br> Access all customer details in one place, including auto enriched social
                profiles, a
                summary of all recent activities and more.</p>
            </div>
            <div class="row">
              <p>
                CRM systems efficiently store, organize, and update contact information, providing users
                a
                comprehensive view of interactions and history with each contact, including names,
                emails,
                and phone numbers.
              </p>
            </div>
            <div class="row">
              <p>
                CRM enables tracking sales opportunities at different stages, aiding deal
                monitoring, task assignments, and priority setting for efficient sales management and
                conversion tracking.
              </p>
            </div>
          </div>
          <div class="col-6">
            <img src="../../../../assets/images/CrilmaCRMdashboard.png" alt=" Crilma Dashboard Image">
          </div>
          <!-- <div class="col"></div> -->
        </div>

      </div>
    </section>


    <!-- homeblock 3 -->
    <section id="homeblock3">
      <div class="homeblock" id="block3">
        <h2 class="h2-heading">Grow with right</h2>
        <details>
          <summary>Plan</summary>
          <div class="plan">
            <div class="column">
              <h3>Free</h3>
              <p>{{ price.free | currency : "INR"}}</p>
              <a routerLink="/signup">
                <button class="buy-button" type="button">Buy</button>
              </a>
              <h4>Benefits:</h4>
              <ul>
                <li>Benefit 1</li>
                <li>Benefit 2</li>
                <li>Benefit 3</li>
              </ul>
            </div>
            <div class="column">
              <h3>Growth</h3>
              <p>{{ price.growth | currency : "INR"}}/month</p>
              <a routerLink="/signup">
                <button class="buy-button" type="button">Buy</button>
              </a>
              <h4>Benefits:</h4>
              <ul>
                <li>Benefit 1</li>
                <li>Benefit 2</li>
                <li>Benefit 3</li>
              </ul>
            </div>
            <div class="column">
              <h3>Pro <span class="skyblue">(POPULAR)</span></h3>
              <p>{{ price.pro | currency : "INR"}}/month</p>
              <a routerLink="/signup">
                <button class="buy-button" type="button">Buy</button>
              </a>
              <h4>Benefits:</h4>
              <ul>
                <li>Benefit 1</li>
                <li>Benefit 2</li>
                <li>Benefit 3</li>
              </ul>
            </div>
            <div class="column">
              <h3>Enterprise</h3>
              <p>{{ price.enterprise | currency : "INR"}}/month</p>
              <a routerLink="/signup">
                <button class="buy-button" type="button">Buy</button>
              </a>
              <h4>Benefits:</h4>
              <ul>
                <li>Benefit 1</li>
                <li>Benefit 2</li>
                <li>Benefit 3</li>
              </ul>
            </div>
          </div>
        </details>
      </div>
    </section>

    <!-- homeblock 4 -->
    <section id="homeblock4">
      <div class="homeblock" id="block4">
        <h2 class="text-center h2-heading">Contact Us</h2>

        <form class="container">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required autocomplete="off"/>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required autocomplete="off"/>
          </div>

          <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" required autocomplete="off"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Company Details</h5>
        <p class="card-text">Company Name: Crilma Official</p>
        <p class="card-text">Address: 123, Address Galli, near Pincode Center, CapaCity</p>
        <p class="card-text">Phone: +01 23456789</p>
        <p class="card-text">Email: {{company_details.mail}}</p>
      </div>
    </div>

      </div>
    </section>

  </main>

  <footer>
    <p>&copy; 2023 Crilma by Prathamesh Surve. All rights reserved.</p>
  </footer>
