.login-page {
    background: conic-gradient(from 140deg, #0000FF, #87CEEB, #90EE90);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-container {
    background: linear-gradient(to bottom, #87CEEB, #90EE90);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    width: 300px;
}

.login-container h1 {
    text-align: center;
    background:  -webkit-linear-gradient(65deg, #f3fff3, #90ED91);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

.login-form {
    margin-top: 20px;
}

.login-form label,
.login-form input {
    display: block;
    margin: 10px;
}

.login-form label {
    font-weight: 500;
    color: rgb(63, 63, 63);
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: auto;
    font-size: 0.80rem;
}

.login-form p-button {
    width: 100%;
    background: linear-gradient(135deg,#87CEEB,  #0000FF);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.signuplink {
font-size: smaller;
}

.login-form p-button:hover {
    background: linear-gradient(135deg, #3099c2, #000000);
}

.forgot-password{
    padding-top: 10px;
}

.forgot-password a{
    color: #426ee9;
    text-decoration: none;
    font-size: 14px;
}

.errMessage {
    color: red;
    font-size: 0.80rem;
}

