<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Resest Successful</title>
</head>

<body>

    <h1>Password Reset Request Received</h1>
    <p>Kindly follow the instructions to reset your password.</p>


    <form action="/Crilma/checkSecurityAnswer" method="post">
        <div  th:if="${securityQuestion}">
            <label for="securityAnswer">
                <p th:text="${securityQuestion}"></p>
                <p>Answer Above Security Question correctly.</p>
            </label>
            <input type="text" name="securityAnswer" id="securityAnswer" placeholder="Enter Answer" required>
            <br>
            <button type="submit" value="submit">Submit</button>
        </div>

        <div th:unless="${securityQuestion}">
            <p>Security question is not set. Please complete the initial setup first.</p>
        </div>
    </form>

    <div class="errMessage" th:if="${securityAnswerError}">
        <p th:text="${securityAnswerError}"></p>
    </div>
    <div class="errMessage" th:if="${securityAnswerMatched}">
        <p th:text="${securityAnswerMatched}"></p>
    </div>


    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog"
        aria-labelledby="forgotPasswordModalLabel" aria-hidden="true" th:if="${securityAnswerError == false}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <form action="/Crilma/resetpassword" method="post">
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword" id="newPassword" required>
                    <br>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" required>
                    <br>
                    <button type="submit">Update Password</button>
                </form>
            </div>
        </div>
    </div>

    <div class="errMessage" th:if="${ResetPasswordNotMatchMessage}">
        <p th:text="${ResetPasswordNotMatchMessage}"></p>
    </div>
    <div class="errMessage" th:if="${ResetPasswordFormatErrMessage}">
        <p th:text="${ResetPasswordFormatErrMessage}"></p>
    </div>

</body>

</html>