<mat-nav-list class="mat-nav-list">
    <div class="logo py-4">
        <a class="navbar-brand">Cr<span class="text-info">i</span>lma</a>
    </div>
    <mat-divider></mat-divider>
    <h2 class="mt-2 text-center">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" class="mat-list-item" routerLink="/dashboard/dashhome">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="mat-list-item" routerLink="/dashboard/dashboardhome">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item class="mat-list-item"> <mat-icon>room</mat-icon> Locations </a>
    <a mat-list-item class="mat-list-item"> <mat-icon>store</mat-icon> Shops </a>
    <a mat-list-item class="mat-list-item"> <mat-icon>view_agenda</mat-icon> Products </a>
    <a mat-list-item class="mat-list-item"> <mat-icon>shopping_cart</mat-icon> Sales </a>
    <a mat-list-item class="mat-list-item"> <mat-icon>bar_chart</mat-icon> Statisctics </a>
    <a mat-list-item class="mat-list-item" routerLinkActive="list-item-active" routerLink="/dashboard/contacts"> <mat-icon>contacts</mat-icon> Contacts </a>
    <a mat-list-item class="mat-list-item"> <mat-icon>help</mat-icon> Help </a>
  </mat-nav-list>